@import 'variables.scss';
#filtres {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#inputs {
    display: flex;
    justify-content: space-around;
    background-color: $noirTransparent;
    border-radius: 0.25rem;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

#types {
    padding: 0px 0px 0px 10px;
}

#types ul {
    text-align: left;
}

#filtres>.v-input {
    max-height: 60px;
}

#filtres>.v-input--selection-controls {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    #inputs {
        padding: 0px 10px 0px 10px;
        width: 95%;
    }
    label {
        font-size: 14px;
    }
}