#filtres {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(1, 1, 1, 0.4);
  border-radius: 0.25rem;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

#types {
  padding: 0px 0px 0px 10px;
}

#types ul {
  text-align: left;
}

#filtres > .v-input {
  max-height: 60px;
}

#filtres > .v-input--selection-controls {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #inputs {
    padding: 0px 10px 0px 10px;
    width: 95%;
  }
  label {
    font-size: 14px;
  }
}
/*# sourceMappingURL=filtres.css.map */