#parentheses {
  background-color: rgba(1, 1, 1, 0.4);
  margin: 15px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #parentheses {
    width: 95%;
    padding: 0px;
  }
}
/*# sourceMappingURL=parentheses.css.map */