html,
body {
  min-height: 100vh;
}

.v-application {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.theme--dark.v-application {
  background: none !important;
  color: #ffffff !important;
}

#titre {
  text-shadow: 1px 1px 2px #000;
}

#background-image {
  background-color: #046b98 !important;
  background-image: url(mhw.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  -ms-touch-action: none;
      touch-action: none;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 15px 0px;
}

.v-text-field {
  width: 100px;
}

.v-input input,
.v-label {
  color: #ffffff !important;
}

.v-label {
  margin: 0px 0px 0px 10px;
}

.v-input input {
  background-color: rgba(1, 1, 1, 0.4) !important;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

ul {
  list-style: none;
  padding: 0px !important;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  h2 {
    padding: 0px 10px 0px 10px;
  }
}
/*# sourceMappingURL=style.css.map */