@import 'variables.scss';
#table-container {
    text-align: center;
    background-color: $noirTransparent;
    max-width: max-content;
    border-radius: 0.25rem;
}

th {
    text-shadow: $textShadow;
}


/******** Hover effect ********/

@media only screen and (min-width: 760px),
(max-device-width: 768px) and (min-device-width: 1024px) {
    table {
        overflow: hidden;
    }
    td,
    th {
        position: relative;
        outline: 0;
    }
    tbody tr:hover {
        background-color: $tr-hover;
    }
    td:hover::after,
    thead th:not(:empty):hover::after,
    td:focus::after,
    thead th:not(:empty):focus::after {
        content: '';
        height: 10000px;
        left: 0;
        position: absolute;
        top: -5000px;
        width: 100%;
        z-index: -1;
    }
    td:hover::after,
    th:hover::after {
        background-color: $tr-hover;
    }
    td:focus::after,
    th:focus::after {
        background-color: $tr-hover;
    }
}

th,
tr>td:nth-child(1) {
    min-width: max-content;
    padding: 5px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    table,
    #table-container {
        min-width: 175px;
    }
    tr {
        border: 1px solid #ccc;
        margin: 0px 0px 10px 0px;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 30px 30px 5px 30px;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 45px;
        white-space: nowrap;
    }
    /*
	Label the data
    */
    $elements: "Feu/Fire",
    "Eau/Water",
    "Foudre/Thunder",
    "Glace/Ice",
    "Dragon",
    "Poison",
    "Endormissement/Sleep",
    "Paralysie/Paralysis",
    "Explosion/Blast",
    "Étourdissement/Stun";
    $i: 1;
    @each $element in $elements {
        td:nth-of-type(#{$i+1}):before {
            content: nth($elements, $i);
            ;
        }
        $i: $i+1;
    }
}