@charset "UTF-8";
#table-container {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.4);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 0.25rem;
}

th {
  text-shadow: 1px 1px 2px #000;
}

/******** Hover effect ********/
@media only screen and (min-width: 760px), (max-device-width: 768px) and (min-device-width: 1024px) {
  table {
    overflow: hidden;
  }
  td,
  th {
    position: relative;
    outline: 0;
  }
  tbody tr:hover {
    background-color: rgba(1, 1, 1, 0.5);
  }
  td:hover::after,
  thead th:not(:empty):hover::after,
  td:focus::after,
  thead th:not(:empty):focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
  td:hover::after,
  th:hover::after {
    background-color: rgba(1, 1, 1, 0.5);
  }
  td:focus::after,
  th:focus::after {
    background-color: rgba(1, 1, 1, 0.5);
  }
}

th,
tr > td:nth-child(1) {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 5px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table,
  #table-container {
    min-width: 175px;
  }
  tr {
    border: 1px solid #ccc;
    margin: 0px 0px 10px 0px;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 30px 30px 5px 30px;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 45px;
    white-space: nowrap;
  }
  /*
	Label the data
    */
  td:nth-of-type(2):before {
    content: "Feu/Fire";
  }
  td:nth-of-type(3):before {
    content: "Eau/Water";
  }
  td:nth-of-type(4):before {
    content: "Foudre/Thunder";
  }
  td:nth-of-type(5):before {
    content: "Glace/Ice";
  }
  td:nth-of-type(6):before {
    content: "Dragon";
  }
  td:nth-of-type(7):before {
    content: "Poison";
  }
  td:nth-of-type(8):before {
    content: "Endormissement/Sleep";
  }
  td:nth-of-type(9):before {
    content: "Paralysie/Paralysis";
  }
  td:nth-of-type(10):before {
    content: "Explosion/Blast";
  }
  td:nth-of-type(11):before {
    content: "Étourdissement/Stun";
  }
}
/*# sourceMappingURL=table.css.map */