<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <h2 id="titre">
        Monster Hunter World Iceborne<br />
        Mini-compendium
      </h2>
      <div id="inputs">
        <div id="filtres">
          <v-text-field
            v-model="filtre"
            class="shrink"
            :placeholder="placeholder"
            color="#046b98"
            autocomplete="off"
            autocorrect="off"
          />
          <v-switch
            v-model="english"
            color="#046b98"
            class="mx-2"
            label="English"
          />
        </div>
        <div id="types">
          <h4>{{ titreTypes }}</h4>
          <ul>
            <li v-for="type in this.listeTypes" :key="type">
              <input
                type="checkbox"
                :id="type"
                :value="type"
                v-model="typesCoches"
              />
              <label :for="type">{{ type }}</label>
            </li>
          </ul>
        </div>
      </div>
      <div id="table-container">
        <table v-if="pageChargee">
          <thead>
            <tr>
              <th v-for="attribut in this.listeAttributs" :key="attribut">
                {{ attribut }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="monstre in this.listeFiltree" :key="monstre.Name">
              <td>{{ monstre.Name }}</td>
              <td>{{ monstre.Fire }}</td>
              <td>{{ monstre.Water }}</td>
              <td>{{ monstre.Thunder }}</td>
              <td>{{ monstre.Ice }}</td>
              <td>{{ monstre.Dragon }}</td>
              <td>{{ monstre.Poison }}</td>
              <td>{{ monstre.Sleep }}</td>
              <td>{{ monstre.Paralysis }}</td>
              <td>{{ monstre.Blast }}</td>
              <td>{{ monstre.Stun }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="parentheses" v-show="this.listeParenthesesFiltree.length > 0">
        <h4>{{ titreParentheses }}</h4>
        <ul v-for="monstre in this.listeParenthesesFiltree" :key="monstre.Name">
          <li>
            {{ monstre.Name }}: {{ monstre.Without }} - ({{ monstre.With }})
          </li>
        </ul>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  data: () => {
    return {
      listeAttributs: [],
      listeAttributsEN: [],
      listeAttributsFR: [
        'Monstre',
        'Feu',
        'Eau',
        'Foudre',
        'Glace',
        'Dragon',
        'Poison',
        'Endormissement',
        'Paralysie',
        'Explosion',
        'Étourdissement'
      ],
      listeMonstres: [],
      listeMonstresEN: [],
      listeMonstresFR: [],
      listeParentheses: [],
      listeParenthesesEN: [],
      listeParenthesesFR: [],
      listeFiltree: [],
      listeParenthesesFiltree: [],
      typesCoches: [],
      filtre: '',
      placeholder: '',
      titreParentheses: '',
      titreTypes: '',
      pageChargee: false,
      english: false
    };
  },

  mounted() {
    this.fetchData();
  },

  methods: {
    async fetchData() {
      try {
        let res = await fetch('MHW-en.json');
        let json = await res.json();

        this.listeMonstresEN = json;
        this.listeAttributsEN = Object.keys(json[0]).filter(
          key => key !== 'Type'
        );
        this.listeAttributsEN[0] = 'Monster';

        res = await fetch('MHW-fr.json');
        json = await res.json();
        this.listeMonstresFR = json;

        res = await fetch('parentheses-en.json');
        json = await res.json();
        this.listeParenthesesEN = json;

        res = await fetch('parentheses-fr.json');
        json = await res.json();
        this.listeParenthesesFR = json;

        this.setLangue();
        this.filtrer();
        this.pageChargee = true;
      } catch (err) {
        console.error(err.message);
        alert('Erreur lors du chargement des statistiques');
      }
    },

    setLangue() {
      if (this.english) {
        this.listeMonstres = this.listeMonstresEN;
        this.listeAttributs = this.listeAttributsEN;
        this.listeParentheses = this.listeParenthesesEN;
        this.titreParentheses = 'Parentheses';
        this.placeholder = 'Filter';
        this.titreTypes = 'Monster type';
      } else {
        this.listeMonstres = this.listeMonstresFR;
        this.listeAttributs = this.listeAttributsFR;
        this.listeParentheses = this.listeParenthesesFR;
        this.titreParentheses = 'Parenthèses';
        this.placeholder = 'Filtrer';
        this.titreTypes = 'Type de monstre';
      }
    },

    filtrer() {
      if (this.filtre.length > 0) {
        const f = this.filtre.toLowerCase();
        this.listeFiltree = this.listeMonstres.filter(monstre =>
          monstre.Name.toLowerCase().includes(f)
        );
        this.listeParenthesesFiltree = this.listeParentheses.filter(monstre =>
          monstre.Name.toLowerCase().includes(f)
        );
      } else {
        this.listeFiltree = this.listeMonstres;
        this.listeParenthesesFiltree = this.listeParentheses;
      }

      if (this.typesCoches.length > 0) {
        this.listeFiltree = this.listeFiltree.filter(
          monstre => this.typesCoches.indexOf(monstre.Type) !== -1
        );

        this.listeParenthesesFiltree = this.listeParenthesesFiltree.filter(
          monstre => this.typesCoches.indexOf(monstre.Type) !== -1
        );
      }

      this.listeFiltree.sort(function(a, b) {
        return a.Name >= b.Name;
      });
      this.listeParenthesesFiltree.sort(function(a, b) {
        return a.Name >= b.Name;
      });
    }
  },

  computed: {
    listeTypes: function() {
      return this.listeMonstres.reduce(function(a, b) {
        if (a.indexOf(b.Type) === -1) {
          a.push(b.Type);
        }
        return a;
      }, []);
    }
  },

  watch: {
    english() {
      this.setLangue();
      this.typesCoches = [];
      this.filtrer();
    },

    filtre() {
      this.filtrer();
    },

    typesCoches() {
      this.filtrer();
    }
  }
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('assets/css/style.css');
@import url('assets/css/table.css');
@import url('assets/css/parentheses.css');
@import url('assets/css/filtres.css');
</style>
